 
.servicePC{
    display: block;
}
.serviceMobile{
    display: none;
}

@media only screen and (max-device-width: 700px) {
    .servicePC{
       display: none;
    }
    .serviceMobile{
       display: block;
    }
}